@font-face {
font-family: 'Paro';
src: url('https://static.tumblr.com/bcddxul/H7Nsl7p67/paro.eot');
src: url('https://static.tumblr.com/bcddxul/H7Nsl7p67/paro.eot?#iefix') format('embedded-opentype'),
url('https://static.tumblr.com/bcddxul/vymsl7p7h/paro.ttf') format('truetype'),
url('https://static.tumblr.com/bcddxul/Jw7sl7p88/paro.svg#paro') format('svg');
font-weight: normal;
font-style: normal;
}